# certifi==2020.4.5.1
cycler==0.10.0
joblib==0.15.1
kiwisolver
matplotlib
# mkl-fft==1.0.15
# mkl-random==1.1.0
# mkl-service==2.3.0
# numpy==1.18.4
olefile==0.46
# opencv-python==4.2.0.34
pandas
# Pillow==7.1.2
pyparsing
python-dateutil
pytz==2020.1
scikit-learn 
scipy 
# six==1.15.0
threadpoolctl 
# torch==1.5.0
# torchvision==0.6.0a0+82fd1c8
tqdm 
